:root{
    --bg_color: #e0bea2;
    --accent: #eb8634;
   }

html, body{
    background-color: var(--accent);
    box-sizing: border-box;
    overflow: scroll;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 0;
	background: transparent;

}

main{
	background-color: var(--bg_color);
	position: relative;
	margin: auto;
	padding: 20px;
	width: 80%;
	min-height: 1100px;
    box-sizing: border-box;
    overflow: scroll;
	overflow-x: hidden;
}

header{
	margin: 10px;
    height: 100;
    grid-row: 2;
	grid-column-start: 1;
	grid-column-end: 4;
    text-align: center;
	font-family: 'Comic Sans MS';
	letter-spacing: 5px;
	font-size: 2.25em;
	color: #fff;
}

nav{
	grid-row: 1;
    grid-column-start: 1;
	grid-column-end: 5;
}

aside{
	margin: 10px;
	grid-row-start: 3;
	grid-row-end: 4;
}
article{
	margin-left: 10px;
	grid-column-start: 2;
	grid-column-end: 5;
}

cover{
    margin: 10px; 
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 5;
    /* Haha nice */
    border: 2px solid rgba(0,0,0,0);
    padding: 20px;
}

footer{
    margin: 10px;
	grid-column-start: 1;
	grid-column-end: 5;
    grid-row: 6;
    text-align: center;
    bottom: 5px;
}
/************ GRID SYSTEM ************/
/*The wrapper that lays out the grid */
wrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 60px 250px 250px 250px 250px;
	background-color: var(--bg_color);
    width: 80%;
    margin: auto;
}